<!-- Footer -->
<footer class="bg-dark text-center mt-4">
    <!-- Grid container -->
    <div class="container p-1">
        <!-- Section: Social media -->
        <section class="mb-1">
            <!-- Facebook -->
            <a class="btn btn-floating" href="#!" role="button"
            ><i class="uil uil-facebook text-danger"></i></a>

            <!-- Twitter -->
            <a class="btn btn-floating" href="#!" role="button"
            ><i class="uil uil-twitter text-danger"></i></a>

            <!-- Google -->
            <a class="btn btn-floating" href="#!" role="button"
            ><i class="uil uil-google text-danger"></i></a>

            <!-- Instagram -->
            <a class="btn btn-floating" href="#!" role="button"
            ><i class="uil uil-instagram-alt text-danger"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-floating" href="#!" role="button"
            ><i class="uil uil-linkedin-alt text-danger"></i></a>

            <!-- Github -->
            <a class="btn btn-floating" href="https://github.com/DioufFLR" role="button"
            ><i class="uil uil-github text-danger"></i></a>
        </section>
    </div>

    <!-- Copyright -->
    <div class="text-danger text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-danger" href="https://github.com/DioufFLR">DioufFLR</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->