{% extends "base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            {% include "_partials/_adminnav.html.twig" %}
            <main class="col-9 border border-light bg-white p-2">
                <h1>Liste des catégories</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Image</th>
                        <th>Active</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for categorie in categorie %}
                        <tr>
                            <td>{{ categorie.id }}</td>
                            <td>{{ categorie.libelle }}</td>
                            <td>{{ categorie.image }}</td>
                            <td>{{ categorie.active }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </main>
        </div>
    </div>

{% endblock %}