{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
    <section class="container my-3">
        <div class="row">
            <div class="col">
                <h1>Réinitialisation de mot de passe</h1>
                {{ form(requestPassForm) }}
            </div>
        </div>
    </section>

{% endblock %}
