{% extends 'base.html.twig' %}

{% block title %}New Transporteur{% endblock %}

{% block body %}

    <main class="container">
        <h1>Create new Transporteur</h1>

        {{ include('transporteur/_form.html.twig') }}

        <a href="{{ path('app_transporteur_index') }}">back to list</a>
    </main>

{% endblock %}
