{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}

    <div class="container my-5">
        <div class="row">
            <h3>Catégories</h3>

            {% for plat in categorie.plats %}
                {% if plat.active == 'true'  %}
                    <div class="col-4">
                        <div class="card">

                            <div class="card-body">
                                <h3 class="card-title">{{ plat.libelle }}</h3>
                                <a href="#" class="btn"><img src="{{ asset('assets/uploads/plat/mini/300x300-' ~ plat.image) }}" alt="{{ plat.libelle }}" width="200px"></a>
                            </div>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}
        </div>

    </div>


{% endblock %}
